*~
*.svn
~$*
vpc
.cproject
.project
objects.mk
sources.mk
subdir.mk
.settings
*.[oad]
*.pyc
*.pyo
*.swp
Debug/
Release/
Tmp/
TmpDebug/
TmpRelease/
.DS_Store
*.csv*
nohup.out
data/instances/*
*.mps*
./test/
lib/
bin/
results/
doxygen/
slurm*.out
test/
.vscode
